{{/* ----------------------------------------------------- */}}
{{- define "TextConstant" -}}
{{- .Value -}}
{{- end -}}{{/* template TextConstant */}}

{{/* ----------------------------------------------------- */}}
{{- define "TextVar" -}}
fmt.Sprint({{.Name}})
{{- end -}} {{/* template TextVar */}}

{{/* ----------------------------------------------------- */}}
{{- define "TextInline" -}}
{{- range . -}}
{{- $subtemplate := .SubTemplate -}}

{{- if eq $subtemplate "TextConstant" -}}
{{- template "TextConstant" . -}}
{{- end -}}{{/*TextConstant*/}}

{{- if eq $subtemplate "TextVar" }}
{{ template "TextVar" . }}
{{- end -}} {{/*TextVar*/}}
{{- if eq $subtemplate "TextInline" }}
// Inline Code Sections Do Not Nest
{{- end -}} {{/*TextInline*/}}

{{- end -}} {{/* end of ranging over text objects */}}
{{- end -}} {{/* template TextInline*/}}

{{/* ----------------------------------------------------- */}}
{{- define "ParamFormal" -}}
{{- if . }}
{{- range . }}
{{- .Name }} {{ .Type -}},
{{- end }} {{/* end of ranging over param list */}}
{{- end }} {{/*end of if */}}
{{- end }} {{/* end of template ParamFormal */}}

{{/* ----------------------------------------------------- */}}
{{/* PROGRAM GEN */}}
{{/* ----------------------------------------------------- */}}
package {{.golang.package}}

{{- if .import -}}
{{- template "TextInline" .import.TextItem_}}
{{- end -}}{{/* if */}}


{{if .text }}
{{range .text.Func}}
func {{.Name -}}({{- template "ParamFormal" .Param -}}) string {
    var buf bytes.Buffer
{{ range .Item -}}
{{- $subtemplate := .SubTemplate -}}

{{- if eq $subtemplate "TextConstant" -}}
buf.WriteString(`{{- template "TextConstant" . -}}`)
{{ end }}{{/*TextConstant*/ -}}
{{- if eq $subtemplate "TextVar" -}}
buf.WriteString({{ template "TextVar" . }})
{{ end }} {{/*TextVar*/}}
{{- if eq $subtemplate "TextInline" -}}
{{ template "TextInline" .TextItem_ }}
{{end }} {{/*TextInline*/}}
{{- end }} {{/* end ranging item */ -}}
    return buf.String()
}
{{end}}{{/*end range over all text objects*/}}

{{end}}{{/*end of if for is .text nil */}}